$white: white;
$light-gray: #eeeeee;
$light-gray-1: #dbdbdb;
$light-gray-1-transparent: rgba(219, 219, 219, 0.3);
$light-gray-2: #ccbba8;
$dark-gray: #808080;
$dark-gray-transparent: rgba(128, 128, 128, 0.3);
$black: black;

$primary: #1070ff;
$light-green: #c5ffc5;

$font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";